<a href="/">Home</a><br>
<a href="/words/new">Add New Word</a><br>
<a href="/words/<%= @word.id() %>/definitions/new">Add Definition</a><br><br>

<label>Your Word</label>
<h4><%= @word.word() %></h4>
<hr>
<label>Definition</label>

<ul>
<% @word.definitions().each() do |definition| %>
<li><%= definition.definition() %></a></li>
<br>
<% end %>
</ul>

<hr>
