<h1>Add word</h1>

<p>Add word here:</p>

<form action="/word_list" method="post">
  <label for="word">Enter word</label>
  <input type="text" name="word" id="word">

  <button type="submit">Save</button>
</form>
