<div id="main" class="well">

  <a href="/">Home</a> |
  <strong><a href="/words/new">Add New Word</a><strong>
  <br>

<h3>Add Word</h3>



<form action="/words" method="post">

  <input type="text" name="word" id="word" class="form-control" placeholder="Enter a word">
<p>Example: Water</p>
  <button type="submit" class="btn btn-success">Save</button>
</form>


</div>
